<p>
  home works!
  <button [disabled]="clicked" (click) = "changeTitle()">Click Me </button><br/> 
</p>
<h1> {{title}}</h1>
<h1 id="title2"> H1 inner html change</h1>
<!-- <div *ngIf="clicked">
  <h3>{{boat.name}}</h3>
  <img [src]="boat.img" width = "200px">
  <p>Built in{{boat.year}}</p>
</div> -->


<!-- <div *ngFor="let boat of boats">
  <h3 [ngClass]="{'green': boat.name === 'Ajay', 'red': boat.name === 'Vijay'}">{{boat.name}}</h3>  
  <img [src]="boat.img" appMagnifier>
  <p>Built in {{boat.year }}</p>
  <p>Built in {{23.33333 | number }}</p>
</div> -->


<!-- <div *ngFor="let boat of boats | async">
  <h3 [ngClass]="{'green': boat.name === 'Ajay', 'red': boat.name === 'Vijay'}">{{boat.name}}</h3>  
  <img [src]="boat.img" appMagnifier>
  <p>Built in {{boat.year | year}}</p>
  <p>Pipe {{23.33333 | number }}</p>
</div> -->

<div *ngFor="let boat of boats | async">
  <app-boat [boat]="boat"></app-boat>
</div>
